<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link th:href="@{/home-style.css}" rel="stylesheet">
    <link th:href="@{/messages.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
<div class="navigation">
    <h1 class="logo-text"><i class="fas fa-heart"></i> DatingSite</i></h1>

    <div class="middle">
        <div class="menu">
            <div class="items">
                <a th:href="@{/account/home}"><i class="fas fa-users"></i> Home</a>
            </div>
            <div class="items">
                <a th:href="@{/account/setting}"><i class="fas fa-cog"></i> Setting</a>
            </div>
            <div class="items">
                <a href="/logout"><i class="fas fa-sign-in-alt"></i> Sign Out</a>
            </div>
        </div>
    </div>

</div>
<div class="message_box">
    <div class="container">
        <h2 th:if="${requests.size()==0}" class="container_box_text">Запитів немає</h2>
        <div class="container_box" th:each="request: ${requests}">
            <div class="box_text_message">
                <p class="container_box_text_username"
                   th:text="${request.sender.username}"></p>
                <p class="container_box_text"> відправив запит на перегляд вашої інформації</p>
            </div>
            <div class="box">
                <a class="requests_btn_accept" role="button"
                   th:href="@{/account/requestPage(id = ${request.id},value='accept')}">Прийняти</a>
                <a class="requests_btn_rejected" role="button"
                   th:href="@{/account/requestPage(id = ${request.id}, value='rejected')}">Відхилити</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>